@mixin asignarPruebas($tema) {
    body{        
        div.contenedor {
            height: 77vh;

            span.iconoInfo {
                right: 3rem;
                font-size: 16pt;
            }

            span.iconoInfoHum {

                right: 1.5rem;
                font-size: 16pt;
            }
        }

        .btn-informacion {
            left: 0px;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}